*{
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box{
    width: 20vw;
    padding: 1rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    margin: 1rem;
}

.box:hover{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8);
}

.box img{
    width: 95%;
}

.content{
    text-align: center;
}

@media screen and (max-width:1040px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box{
        width: 35vw;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width:727px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .box{
        width: 60vw;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width:349px) {
    *{
        margin: 0.5;
        padding: 0;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .box{
        width: 70vw;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    }
}