*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
}

.palette{
    /* background-color: aqua; */
    margin: 2rem;
    width: 200px;
    height: 200px;
}

/* ************ CSS for Colors block ************  */
.red{
    background-color: red;
    width: 200px;
    height: 50px;
}
.green{
    background-color: green;
    width: 200px;
    height: 50px;
}
.blue{
    background-color: blue;
    width: 200px;
    height: 50px;
}
.yellow{
    background-color: yellow;
    width: 200px;
    height: 50px;
}

/* ************ making hex-code initially none ************  */
.hexCode{
    display: none;
}

/* ************ hover effect ************  */
.strips:hover > div{
    display: inline-block;
    color: white;
    background-color: rgba(50, 46, 46, 0.4);
}

.strips:hover{
    cursor: pointer;
}